<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
</head>

<body>

    Hello <%- math %>
</body>

</html>


<!-- style="background-image: url(https://img.freepik.com/free-vector/abstract-white-triangle-shapes-background_1035-17544.jpg?t=st=1675429800~exp=1675430400~hmac=2b913879a1eee843c6dc07c81b1a71f461234fc4cc3f49b49e75d1afdba6fb7e);">
    <h1 style="text-align: center; color: green;">Rock Paper Scissors Leaderboard</h1>
    <h4 style="text-align: center;">Mark is bad at rock paper scissors</h4>
    <p style="text-align: center;">Asa: 2</p>
    <p style="text-align: center;">Mark: </p> -->